---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navigation />
		<main>
			<nav>
				<span class="lnr lnr-book"></span>
				<h1>Andrew's Brain Dump</h1>
				<p>My thoughts on tech and the occasional other tidbits.</p>
				<ul>
					<li>
						<a href="/blog/">Latest</a>
					</li>
				</ul>
			</nav>
			<section>
				<ul class="blog-list-container">
					{
						posts.map((post) => (
							<li class="blog-item">
								<a href={`/blog/${post.slug}/`}>
									<div class="image-container">
										<img width={720} height={360} src={post.data.heroImage} alt="" />
									</div>
									<p class="category">{post.data.category}</p>
									<p class="title">
										{post.data.title}
										<span class="title-underline"></span>
									</p>
									{/* <p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p> */}
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
	@import '../../styles/mixins.scss';

	main {
		@include globalPadding;
		display: grid;
		grid-template-columns: minmax(20%, 25%) 4fr;
		gap: 2rem;
		padding-top: 4rem;
		overflow: hidden;
	}

	nav {
		border-right: solid 1px var(--color-grey-lightest);
		padding-right: 2rem;
		span {
			display: inline;
			font-size: 2.3rem;
		}
		h1 {
			display: inline;
			font-size: 2.3rem;
		}
		p {
			margin-top: 1rem;
			font-size: 1.3rem;
		}
		ul {
			padding-left: 0;
		}
		li {
			list-style: none;
			margin-bottom: 1rem;
			font-size: 1.3rem;
		}
	}

	.blog-list-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		row-gap: 5rem;
		margin-top: 0;
		margin-bottom: 3rem;
		height: 78vh;
		overflow-y: scroll;
		.blog-item {
			list-style: none;
			&:hover {
				img {
					transition: transform 0.3s;
					transform: scale(1.10);
				}
				.title-underline {
					width: 100%;
					transition: all 0.2s;
				}
			}
		}
		a {
			text-decoration: none;
			color: var(--color-black);
		}
		img {
			width: 100%;
			object-fit: cover;
			transition: transform 0.2s;
			transform: scale(1.05);
			&:hover {
				transition: transform 0.4s;
			}
		}
		.title {
			font-size: 1.7rem;
			width: fit-content;
		}
		.title-underline {
			display: block;
			width: 0;
			height: 4px;
			background-color: var(--color-black);
			transition: all 0.2s ease-in-out;
		}
		.category {
			margin-top: 1.25rem;
			color: var(--color-grey);
		}
	}

	.image-container {
		overflow: hidden;
		border-radius: 1rem;
	}

	@include tabletDown {
		main {
			grid-template-columns: 1fr;
			padding-top: 3rem;
		}
		nav {
			border-right: none;
			padding-right: 0;
			border-bottom: solid 2px var(--color-grey-lightest);
			p {
				font-size: 1rem;
			}
			li {
				font-size: 1rem;
			}
		}
		.blog-list-container {
			grid-template-columns: 1fr;
			height: auto;
			padding-left: unset;
		}
	}
</style>
