---
import { Image } from "astro:assets"
import Dookie from "../assets/images/albums/dookie.webp"
import IllCommunication from "../assets/images/albums/ill-communication.webp"
import LondonCalling from "../assets/images/albums/london-calling.webp"
import War from "../assets/images/albums/war.webp"
import DefinitelyMaybe from "../assets/images/albums/definitely-maybe.webp"
import BlueAlbum from "../assets/images/albums/blue-album.webp"
import SgtPepper from "../assets/images/albums/sgt-pepper.webp"
import The1975 from "../assets/images/albums/1975.webp"
---

<div class="collection-parent">
    <h3>Still here? Come jam to my soundtrack</h3>
    <div class="collection-container">
        <!-- Remember to adjust the animation equation when adding or removing albums -->
        <a href="https://www.youtube.com/watch?v=OR7R9Kuw2fY" target="_blank" rel="noreferrer noopener">
            <Image src={Dookie} alt="dookie album cover"/>
        </a>

        <a href="https://www.youtube.com/watch?v=JhqyZeUlE8U" target="_blank" rel="noreferrer noopener">
            <Image src={IllCommunication} alt="ill-communication album cover"/>
        </a>

        <a href="https://www.youtube.com/watch?v=eNot47WRBFk" target="_blank" rel="noreferrer noopener">
            <Image src={LondonCalling} alt="london-calling album cover"/>
        </a>

        <a href="https://www.youtube.com/watch?v=jeYCyCaK_5k" target="_blank" rel="noreferrer noopener">
            <Image src={War} alt="u2 album cover"/>
        </a>

        <a href="https://www.youtube.com/watch?v=pbIRQR6FkhU" target="_blank" rel="noreferrer noopener">
            <Image src={DefinitelyMaybe} alt="oasis album cover"/>
        </a>
        
        <a href="https://www.youtube.com/watch?v=8RFTB5vgV_4" target="_blank" rel="noreferrer noopener">
            <Image src={BlueAlbum} alt="weezer album cover"/>
        </a>
        
        <a href="https://www.youtube.com/watch?v=HtUH9z_Oey8" target="_blank" rel="noreferrer noopener">
            <Image src={SgtPepper} alt="Sgt. Pepper album cover"/>
        </a>
                        
        <a href="https://www.youtube.com/watch?v=wYYQpTbBSBM" target="_blank" rel="noreferrer noopener">
            <Image src={The1975} alt="the 1975 album cover"/>
        </a>

        <!-- These are the "loop illusion" elements. Their purpose is only to fill the space between the end of the loop before it resets -->
        <a href="https://www.youtube.com/watch?v=OR7R9Kuw2fY" target="_blank" rel="noreferrer noopener">
            <Image src={Dookie} alt="dookie album cover"/>
        </a>

        <a href="https://www.youtube.com/watch?v=JhqyZeUlE8U" target="_blank" rel="noreferrer noopener">
            <Image src={IllCommunication} alt="ill-communication album cover"/>
        </a>

        <a href="https://www.youtube.com/watch?v=eNot47WRBFk" target="_blank" rel="noreferrer noopener">
            <Image src={LondonCalling} alt="london-calling album cover"/>
        </a>

        <a href="https://www.youtube.com/watch?v=jeYCyCaK_5k" target="_blank" rel="noreferrer noopener">
            <Image src={War} alt="u2 album cover"/>
        </a>
    </div>
</div>

<style lang="scss">
    @import "../styles/mixins.scss";

    .collection-parent {
        @include fullWidth;
        position: relative;
        background-color: var(--color-surface_base);
        overflow: hidden;
        padding: 0;

        h3 {
            color: var(--color-white);
            padding-left: 60px;
            position: absolute;
            background-color: var(--color-black);
            z-index: 2;
            padding: 8px 20px;
            font-size: 1.7rem;
            bottom: 0;
            opacity: 85%;
            backdrop-filter: blur(10px); //there is a bug in chrome desktop at time of writing where nested filters like this don't work
            border-top-right-radius: 8px;

            @media (max-width: 900px) {
                font-size: 1.3rem;
            }
        }


        &::before {
            content: '';
            position: absolute;
            left: 0;
            height: 100%;
            width: 10%;
            background: linear-gradient(90deg, var(--color-surface_base) 0%, #0000 100%);
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 10%;
            background: linear-gradient(-90deg, var(--color-surface_base) 0%, #0000 100%);
            z-index: 1;
        }

        @media (max-width: 600px) {
            display: none;
        }

    }

    .collection-container {
        display: flex;
        flex-flow: row nowrap;
        animation: scrollWideScreen 25s linear infinite;
        height: calc(100vw / 4); //height needs to be identical to the image width

        img {
            opacity: 70%;
            width: calc(100vw / 4); // I want 4 images to evenly fill the whole screen
            height: calc(100vw / 4); // height needs to be identical to the calculated width
            transition: 0.4s;
            filter: saturate(0%);

            &:hover {
                transform: scale(0.95) rotate(2deg);
                opacity: 100%;
                box-shadow: 4px 3px 10px 0px #000000a3;
                cursor: pointer;
                transition: 0.4s;
                filter: saturate(100%);

            }
        }
    }

    @keyframes scrollWideScreen {
        from {
        transform: translateX(0)
        }

        to {
            /* we're saying "scroll until the end of the image container hits the left of the screen"
            First equation must match the image width...then multiplied by the number of images */
            transform: translateX(calc((-100vw / 4) * 8)); 
        }
    }
</style>
