---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, category, heroImageAlt, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Navigation />
		<main>
			<a class="back-link" href="/blog">← All Posts</a>
			<header class="hero-image">
				{heroImage && <img width={1020} height={510} src={heroImage} alt={heroImageAlt} />}
			</header>
			<article class="blog-content">
				<div class="title">
					<p class="category">{category}</p>
					<!-- <div class="date">
						Originally Published: 
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div> -->
					<h1>{title}</h1>
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
	@import "../styles/mixins.scss";

	main {
		padding-top: 1rem;
		padding-left: 20%;
		padding-right: 20%;
		margin-bottom: 3rem;
	}

	.back-link {
		font-size: 1.3rem;
	}

	.hero-image {
		padding-top: 1rem;
		img {
			width: 100%;
			height: auto;
			border-radius: 16px;
		}
	}

	.category {
		font-size: 1rem;
		font-weight: 600;
		padding: 0.25rem 1rem;
		color: var(--color-grey);
		border: solid 2px var(--color-grey);
		border-radius: 1rem;
		width: fit-content;
	}

	.title {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 1rem;
		text-align: center;
		line-height: 1;
		h1 {
			margin-top: 1rem;
			padding-bottom: 1rem;
			border-bottom: solid 2px var(--color-grey-lightest);
		}
	}

	.date {
		margin-top: 1rem;
		color: var(--color-grey);
	}

	.last-updated-on {
		font-style: italic;
	}

	@include tabletDown {
		main {
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	@include mobileOnly {
		main {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

</style>

